# Grafana Datasources Configuration

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"

  - name: Postgres
    type: postgres
    url: postgres:5432
    database: waooaw_production
    user: ${POSTGRES_USER}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false

  - name: Redis
    type: redis-datasource
    access: proxy
    url: redis:6379
    secureJsonData:
      password: ${REDIS_PASSWORD}
    jsonData:
      client: standalone
      poolSize: 5
